/* .borde {
    border: 2px solid rgb(68, 76, 143);
    border-radius: 10px;
  }
  .izquierda {
    text-align: end;
  }

  .button {
   background-color: blue;
  }

  .derecha {
    text-align:start;
  }

  .tabla{
    border: 1px solid rgb(221, 221, 221);
    
  }
  .contenedor{
    display:inline;
  }

  div.espacio{
    height: 15px;
  }
  .boton{
    cursor: pointer;
    padding:6px 10px;
    margin-right: 5px;
    border-radius: 0px;

    
  }

  .flex-container {
    display: flex;
    flex-direction: column;
  }

  .espacio-izquierda{
    margin: 50;
  } */

.App {
    font-family: sans-serif;
    text-align: center;
}

.container {
    width: 50%;
    margin: 0 auto;
}

.hidden {
    visibility: hidden;
}

.border {
    border-bottom: 1px solid #666;
}

.button {
    margin-top: 10px;
    padding: 20px;
}

.grayButton {
    background: #666;
    color: #fff;
}

.blueButton {
    background: rgb(108, 174, 221);
    color: #fff;
}

.errorMsg {
    text-align: right;
    color: crimson;
    margin: 10px 0;
}

.izquierda {
  text-align: end;
}

.navSelected {
    background-color: #c2c2c2;
}

.textNav {
    color: black;
}

