div.col-md-4.borde {
    border: 2px solid rgb(68, 76, 143);
    border-radius: 5px;
  }
.izquierda {
  text-align: end;
}

div.espacio{
  height: 50px;
}

div.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
}