.PrincipalPropietario{
    margin: 30px 40px 15px;

     
}

.flex-container.form-group{
    text-align: left;
}

.row{
    margin: 30px 40px 15px;
}
.conteiner{
    margin: 0;
    }

.izquierda{
    padding: 0px 60px;
}

.btnDescarga {
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.btn.btn-primary.boton{
    margin: 7px;
}

.title{
    padding: 0;
}

.borde-button{
        margin: 0 13px 0 0;

}