.button {
    border-radius: 5px;
    text-transform: uppercase;
    border: #004983;
    cursor: pointer;
    padding: 10px 40px !important;
    background-color: #004983;
    color: #ffffff;
     
    :active{
        border: #004983;
    }   
}

.passIncorrect {
    color: #565656;
    font-weight: 400;
    font-size: 16px;
    padding: 8px 12px;
    height: 40px;
    box-shadow: none;
}

.login-page {
    > .content {
    padding-top: 0;
}

}