
.colorReference {
    width: 35px;
    height: 15px;
}

.servicioText {
    padding-left: 5px;
}

.porcentajes {
    display: flex;
    margin-bottom: 20px;
}

.conteiner-porcentajes {
    margin-top: 20px;
}

.header {
    box-shadow: 0 4px 6px -6px #222;
    padding: 0 0 5px 0!important;
}

.cabecera {
    display: flex;
}

.tituloReporte {
    text-align: center;
    margin: 0 18%;
    padding-top: 20px;
}

.fecha {
    display: grid;
}

.reporteOculto {
   display: none;
}
